{% set seo = craft.entries()
    .section('globalSeo')
    .with(['shareImage'])
    .one()
%}

{# Defaults #}
{% set pageUrl = siteUrl|trim('/') ~ '/' ~ craft.app.request.pathInfo %}
{% set titleSeparator = '|' %}
{% set pageTitle = siteName %}
{% set metaDescription = seo.metaDescription %}
{% set shareImage = seo.shareImage[0] ?? null %}
{% set pageType = 'website' %}


{# Page Title #}
{% if entry.section.handle is not same as 'home' %}
    {% set pageTitle = "#{entry} #{titleSeparator} #{siteName}" %}
{% endif %}

{# Section Specific #}
{#    {% if entry.section.handle in ['projects'] %}#}
{#        {% set metaDescription = entry.leadText ?? metaDescription %}#}

{#        {% set shareImage = entry.projectImage[0] ?? shareImage %}#}
{#    {% endif %}#}


{# Prepare values #}
{% set metaDescription = metaDescription
    |striptags|replace({"\n": " ", "\r": " ", "\t": " "})|trim
    |truncate(165)
%}

{% if shareImage %}
    {% set shareImageUrl = shareImage.extension == 'svg' and not craft.imager.imgixEnabled
        ? shareImage.url : craft.imagerx.transformImage(shareImage, 'shareImage')|first
    %}
{% endif %}

{# Primary Meta Tags #}
<title>{{ pageTitle }}</title>
<meta name="title" content="{{ pageTitle }}">
<meta name="description" content="{{ metaDescription }}">
<link rel="canonical" href="{{ pageUrl }}">

{# Open Graph / Facebook #}
<meta property="og:type" content="{{ pageType }}">
<meta property="og:url" content="{{ pageUrl }}">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:description" content="{{ metaDescription }}">
<meta property="og:image" content="{{ shareImageUrl ?? '' }}">
<meta property="og:site_name" content="{{ siteName }}">
<meta property="og:locale" content="{{ craft.app.language|replace({'-': '_'}) }}" />

{# Twitter #}
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ pageUrl }}">
<meta property="twitter:title" content="{{ pageTitle }}">
<meta property="twitter:description" content="{{ metaDescription }}">
<meta property="twitter:image" content="{{ shareImageUrl ?? '' }}">

{#<link rel="alternate" hreflang="en" href="{{ siteSwitcher('', entry ?? null) }}" />#}
{#<link rel="alternate" hreflang="de" href="{{ siteSwitcher('', entry ?? null) }}" />#}
{#<link rel="alternate" hreflang="x-default" href="{{ siteSwitcher('', entry ?? null) }}"/>#}
