<!DOCTYPE html>
<!--

 Design & Code: Vinzenz Leutenegger

-->
{% minify %}
<html lang="{{ craft.app.language[0:2] }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin-when-cross-origin">
    <link rel="preconnect" href="https://img.imageboss.me/">

    {% if craft.app.config.env != 'production' %}
        <meta name="robots" content="none">
    {% endif %}

{#    {% set favicon = craft.app.config.env == 'production' ? 'icon' : 'icon' %}#}
{#    <link rel="icon" href="/assets/meta/{{ favicon }}.ico" sizes="any">#}
{#    <link rel="icon" type="image/svg+xml" href="/assets/meta/{{ favicon }}.svg">#}
{#    <link rel="manifest" href="/assets/meta/site.webmanifest">#}
{#    <link rel="apple-touch-icon" sizes="180x180" href="/assets/meta/apple-touch-icon.png">#}
{#    <meta name="theme-color" content="#ffffff">#}
{#    {{ block('meta') ?? null }}#}

    {% cache %}
        {# {% include '_helpers/seo.twig' %} #}
    {% endcache %}

    {{ craft.vite.script('src/js/app.js') }}
    <link rel="stylesheet" href="{{ craft.vite.asset('src/css/app.scss') }}">

    {% if craft.app.config.env == 'production' and not currentUser %}
        <script defer data-api="/api/event" data-domain="{{ craft.app.request.hostName }}" src="/js/script.js"></script>
    {% endif %}
</head>
<body
    class="ltr antialiased"
>

    {{ block('page') }}

    {# {% include '_helpers/breakpoint.twig' %} #}
    {% include '_helpers/devmode.twig' %}
</body>
</html>
{% endminify %}
